* {
  margin: 0;
}

.container {
  background-color: #d93c19;
  padding: 16px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

#bloco-1 {
background-color: aqua;
height: 100px;
width: 100px;
border-radius: 16px;
font-size: 40px;
font-family: 'Courier New', Courier, monospace;
}

#bloco-2 {
background-color: rgba(157, 196, 28, 0.866);
height: 100px;
width: 100px;
border-radius: 16px;
font-size: 40px;
font-family: 'Courier New', Courier, monospace;
}

#bloco-3 {
background-color:antiquewhite;
height: 100px;
width: 100px;
border-radius: 16px;
font-size: 40px;
font-family: 'Courier New', Courier, monospace;
}